###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
############################################## -> DESGINED BY MATHEUS SANTOS ##############################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################
###########################################################################################################################

ENVVAR = {
    "pguser": "dbusername_example",
    "pgpass": "dbpassword_example",
    "pghost": "localhost_example",
    "pgdatabase": "pgdatabasename_example",
    "pgusertable": "pgtablewherehaveusertable_example",
    "LocalUser": "definesomeusertolocaltests_example",
    "LocalPass": "definesomepasstolocaltests_example",
    "dbpasscolum": "columinusertablehaveapass_example",
    "dbusercolum": "columinusertablehaveusername_example",
    "dbprivileges": "columinusertablehaveprivilegesaccount_example",
    "userrow": "columnsamefrom_dbusercolum_example",
    "emailrow": "columinusertablehaveemail_example",
    "bdmasterkey": "example_for_master_key_to_encript_your_sends_to_your_backend_or_db_communications"
    }

### user connection in postgresql with ENVVAR parammeters
usersdb_conn = f"host={ENVVAR['pghost']} user={ENVVAR['pguser']} dbname={ENVVAR['pgdatabase']} password={ENVVAR['pgpass']}"